<div data-page="admin">
    <div class="col-md-10 col-md-offset-1 content">
        <h1 class="page-header">Структура</h1>
        <p><b>При редактировании вершины с типом "Простая страница" появляется прямая ссылка для редактирования привязанной страницы:</b></p>
        <img src="images/photos/admin_edit_page.png" alt="" class="img-thumbnail">

        <h1 class="page-header">Страницы</h1>
        <p><b>Поиск по страницам:</b></p>
		<img src="images/photos/admin_page_search.png" alt="" class="img-thumbnail">        

		<p><b>Сортировка страницы при нажатии на специальную стрелочку в заголовке таблицы:</b></p>
		<img src="images/photos/admin_page_sort.png" alt="" class="img-thumbnail">        		

		<h1 class="page-header">Загрузка новостей из ВКонтакте</h1>
		<ol>
			<li><b>Откройте стену</b> человека или группы</li>
			<li>Нажмите на кнопку <b>"Поделиться"</b> (<img src="images/photos/vk_share.png" alt="">)</li>
			<li>Нажмите на кнопку <b>"В новости edu.tatar.ru"</b>. Откроется список новостных блоков</li>
			<li>Выберите нужный новостной блок</li>
			<li>Нажмите на кнопку <b>"Добавить новость"</b></li>
			<li>Название и текст новости добавятся автоматически. Фотографию придется добавить в полуручном режиме. </li>
			<li>
				<b>Добавление фотографии</b>
				<ul>
					<li>Скопировать ссылку из получившегося окна (<kbd>CTRL+C</kbd>)</li>
					<li>Откроется окно добавления фотографии к новости</li>
					<li>Нажать на кнопку "Выбрать файл" и вставить ссылку, которую мы скопировали до этого (<kbd>CTRL+V</kbd>)</li>
					<li>Выделить размер миниатюры</li>
					<li>Сохранить</li>
				</ul>
			</li>
			<li>Завершить добавление новости</li>
		</ol>
		<img src="images/photos/vk.png" alt="" class="img-thumbnail img-responsive">
		<img src="images/photos/vk-2.png" alt="" class="img-thumbnail img-responsive">
		<img src="images/photos/vk-3.png" alt="" class="img-thumbnail">
		<p>Также на странице добавления есть кнопка "Добавить пост из ВКонтакте", которая помогает загрузить запись из ВКонтакте по ссылке.</p>
		<p>Функционал не будет работать в школьной сети Интернет из-за того, что социальная сеть ВКонтакте там заблокирована.</p>
    </div>
</div>