<div data-page="index">
    <div id="index_carousel" class="carousel slide col-md-10 col-md-offset-1 content" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/photos/edu.png" alt="...">
                <div class="carousel-caption">
                    <h2>
                        Расширение для портала <br>
                        <a href="http://edu.tatar.ru" target="_blank" rel="nofollow">"Электронное образование в РТ"</a>
                    </h2>
                </div>
            </div>
            <div class="item">
                <img src="images/photos/marks-1.png" alt="...">
                <div class="carousel-caption">
                    <h3>Выставление оценок с клавиатуры</h3>
                    <p>
                        Нажмите клавиши от <kbd>1</kbd> до <kbd>5</kbd>, чтобы выставить оценку<br>
                        Нажмите клавиши <kbd>0</kbd>, чтобы убрать оценку<br>
                        Нажмите клавиши <kbd>Н</kbd> или <kbd>Б</kbd>, чтобы поставить отметку об отсутствии<br>
                        Используйте стреки <kbd>&larr;</kbd>, <kbd>&uarr;</kbd>, <kbd>&rarr;</kbd>, <kbd>&darr;</kbd> для перемещения по электронному журналу
                    </p>
                    <a href="#teacher" class="btn btn-primary btn-lg">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <img src="images/photos/vk.png" alt="...">
                <div class="carousel-caption">
                    <h3>Публикация новостей из ВК на сайт школы</h3>
                    <p>Нажатием одной кнопки</p>
                    <a href="#admin" class="btn btn-primary btn-lg">Подробнее</a>
                </div>
            </div>
            <div class="item">
                <img src="images/photos/admin_page_sort.png" alt="...">
                <div class="carousel-caption">
                    <h3>Улучшения в личном кабинете администратора сайта</h3>
                    <a href="#admin" class="btn btn-primary btn-lg">Подробнее</a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#index_carousel" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#index_carousel" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-md-10 col-md-offset-1 content">
        {{functions_list|safe}}
    </div>
</div>