<div data-page="teacher">
    <div class="col-md-10 col-md-offset-1 content">
        <h1 class="page-header">Выставление оценок с помощью клавиатуры</h1>
        <p>После установки расширения появляется возможность ставить оценки с помощью клавиатуры. </p>
        <p>Для начала работы нужно <b>поставить курсор</b> на одну из клеточек журнала. Затем нажмите на клавиатуре цифру, соответствующую оценке. Например, <b>кнопка <kbd>5</kbd> поставит оценку "5"</b>.</p>

        <img src="images/photos/marks-1.png" alt="" class="img-responsive img-thumbnail">

        <p>После того, как оценка поставится, нажмите на <kbd>&darr;</kbd>, чтобы спуститься вниз.</p>
        <p>Поставим <b>оценку 4 с помощью кнопки <kbd>4</kbd></b>.</p>

        <img src="images/photos/marks-2.png" alt="" class="img-responsive img-thumbnail">

        <p><b>После завершения операции страница будет выглядеть так:</b></p>

        <img src="images/photos/marks-3.png" alt="" class="img-responsive img-thumbnail">

        <h1 class="page-header">Полный список клавиш</h1>
        <ul class="kbd">
            <li><kbd>1</kbd> - поставить оценку "1"</li>
            <li><kbd>2</kbd> - поставить оценку "2"</li>
            <li><kbd>3</kbd> - поставить оценку "3"</li>
            <li><kbd>4</kbd> - поставить оценку "4"</li>
            <li><kbd>5</kbd> - поставить оценку "5"</li>
            <li><kbd>0</kbd> - убрать оценку</li>
            <li><kbd>Н</kbd> - поставить отметку "не был"</li>
            <li><kbd>Б</kbd> - поставить отметку "болел"</li>
            <li><kbd>Х</kbd> - убрать отметку об отсутствии</li>
        </ul>
    </div>
</div>